<div class="container sm-3">
  <h3>プロフィール編集</h3>
  <div class="d-flex flex-column">
    <label class="school-sidebar-category-label">
      <%= link_to "プロフィール編集", edit_profile_admin_path, class: "text-decoration-none" %>
    </label>
    <label class="school-sidebar-category-label">
      <%= link_to "アカウント編集", edit_account_admin_path, class: "text-decoration-none" %>
    </label>
  </div>

  <h3>レッスン一覧</h3>
  <div class="d-flex flex-column">
    <label class="school-sidebar-category-label">レッスン一覧</label>
    <label class="school-sidebar-category-label">レッスン登録</label>
    <label class="school-sidebar-category-label">レッスンcsv登録</label>
    <label class="school-sidebar-category-label">レッスン人気確認</label>
    <label class="school-sidebar-category-label">レッスン人気データ確認</label>
  </div>
</div>