// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dashboard-base {
  margin-top: 10px;
  margin-left: 10px;
}

.profile-image {
  width: 200px;
  margin-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  padding: 10px;
}

.profile-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px){
  .dashboard-phone {
    display: none;
  }
}