.devise-margin {
  margin-top: 50px;
}

.devise-title {
  text-align: center;
  margin: 10px 10px;
}

.devise-logo {
  text-align: center;
  margin-bottom: 5px;
}

.deviselogo-width {
  width: 150px;
}

.school-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;    
  background-color: #ffffff;
}

.school-check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.school-error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #e3342f
}

.school-require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
}

.school-require-input-label-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

// アイコン

.aicn-image {
  width: 150px;
  margin-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  padding: 10px;
}

.aicn-imageaicn-image {
  width: 150px;
  margin-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 50%;
  padding: 10px;
}