<nav class="col-md-2 d-none d-md-block bg-white sidebar lesson-phone">
  <div class="sidebar-sticky">
    <div class="user-name">
      <h3>ユーザ名前</h3>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        ホーム
      </li>
      <li class="nav-item">
        メニュー
      </li>
      <li class="nav-item">
        ジャンル一覧
      </li>
      <li class="nav-item">
        先生アカウント
      </li>
    </ul>
  </div>
</nav>